<!-- <section>

  <mat-card type="button" class="a btn btn-outline-primary col-3" (click)="collapse(0)">
    Property Boundaries
  </mat-card>
  <div class="collapseCopyA" [@slideInOut] = "isCollapsed[0]">
    <div class="card">
      <div class="card-body">
        Property Boundaries
      </div>
    </div>
  </div>


<div class = "b">
  <mat-card type="button" class="btn btn-outline-primary col-3" (click)="collapse(1)">
    Planning and Zoning
  </mat-card>
  <div class="collapseCopyA" [@slideInOut]="isCollapsed[1]">
    <div class="card">
      <div class="card-body">
        Planning and Zoning
      </div>
    </div>
  </div>
</div>




  <mat-card type="button" class="c btn btn-outline-primary col-3" (click)="collapse(2)">
    Flood Zone
  </mat-card>
  <div class="collapseCopyA" [@slideInOut]="isCollapsed[2]">
    <div class="card">
      <div class="card-body">
        Flood Zone
      </div>
    </div>
  </div>
 


  <mat-card type="button" class="d btn btn-outline-primary col-3" (click)="collapse(3)">
    Wetlands
  </mat-card>
  <div class="collapseCopyA" [@slideInOut]="isCollapsed[3]">
    <div class="card">
      <div class="card-body">
        Wetlands
      </div>
    </div>
  </div>
 


  <mat-card type="button" class="e btn btn-outline-primary col-3" (click)="collapse(4)">
    Soil Type
  </mat-card>
  <div class="collapseCopyB" [@slideInOut]="isCollapsed[4]">

        Soil Type

  </div>
 


  <mat-card type="button" class="f btn btn-outline-primary col-3" (click)="collapse(5)">
    Utilities
  </mat-card>
  <div class="collapseCopyB" [@slideInOut]="isCollapsed[5]">

        Utilities

  </div>



  <mat-card type="button" class="g btn btn-outline-primary col-3" (click)="collapse(6)">
    Land of Importance
  </mat-card>
  <div class="collapseCopyB" [@slideInOut]="isCollapsed[6]">

        Land of Importance

  </div>



  <mat-card type="button" class="h btn btn-outline-primary col-3" (click)="collapse(7)">
    Other
  </mat-card>
  <div class="collapseCopyB" [@slideInOut]="isCollapsed[7]">

        Other

  </div>

</section>
 -->
