<!-- <mat-card>
  <mat-card-content>
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          Zoning
        </ng-template>
        <div class="bodyContent row">
          <div class = "col">
          <h2>Planning and Zoning Reports:</h2>
          <p>The Federal Emergency Management Agency (FEMA) "identifies flood hazards, assesses flood risks, and provides accurate data to guide stakeholders in taking effective mitigation actions that result in safer and more resilient communities." 

              A Flood Insurance Rate Map (FIRM) is “important for communicating flood hazards and risks to communities and individuals; informing the implementation of local floodplain management regulations and building standards; and providing critical information for disaster response planning, recovery, and rebuilding decisions. FIRMs support a community’s ability to make informed decisions about where to plan and allow development.”  </p>
        </div>
        <div class = "col placeholder-img">
        </div>
      </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
            <span>Footprint</span>
        </ng-template>
        <div class="bodyContent row">
            <div class = "col">
            <h2>Planning and Zoning Reports:</h2>
            <p>The Federal Emergency Management Agency (FEMA) "identifies flood hazards, assesses flood risks, and provides accurate data to guide stakeholders in taking effective mitigation actions that result in safer and more resilient communities." 
  
                A Flood Insurance Rate Map (FIRM) is “important for communicating flood hazards and risks to communities and individuals; informing the implementation of local floodplain management regulations and building standards; and providing critical information for disaster response planning, recovery, and rebuilding decisions. FIRMs support a community’s ability to make informed decisions about where to plan and allow development.”  </p>
          </div>
          <div class = "col placeholder-img">
          </div>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          Flood
        </ng-template>
        <div class="bodyContent row">
            <div class = "col">
            <h2>Planning and Zoning Reports:</h2>
            <p>The Federal Emergency Management Agency (FEMA) "identifies flood hazards, assesses flood risks, and provides accurate data to guide stakeholders in taking effective mitigation actions that result in safer and more resilient communities." 
  
                A Flood Insurance Rate Map (FIRM) is “important for communicating flood hazards and risks to communities and individuals; informing the implementation of local floodplain management regulations and building standards; and providing critical information for disaster response planning, recovery, and rebuilding decisions. FIRMs support a community’s ability to make informed decisions about where to plan and allow development.”  </p>
          </div>
          <div class = "col placeholder-img">
          </div>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          Wetlands
        </ng-template>
        <div class="bodyContent row">
            <div class = "col">
            <h2>Planning and Zoning Reports:</h2>
            <p>The Federal Emergency Management Agency (FEMA) "identifies flood hazards, assesses flood risks, and provides accurate data to guide stakeholders in taking effective mitigation actions that result in safer and more resilient communities." 
  
                A Flood Insurance Rate Map (FIRM) is “important for communicating flood hazards and risks to communities and individuals; informing the implementation of local floodplain management regulations and building standards; and providing critical information for disaster response planning, recovery, and rebuilding decisions. FIRMs support a community’s ability to make informed decisions about where to plan and allow development.”  </p>
          </div>
          <div class = "col placeholder-img">
          </div>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          Soil
        </ng-template>
        <div class="bodyContent row">
            <div class = "col">
            <h2>Planning and Zoning Reports:</h2>
            <p>The Federal Emergency Management Agency (FEMA) "identifies flood hazards, assesses flood risks, and provides accurate data to guide stakeholders in taking effective mitigation actions that result in safer and more resilient communities." 
  
                A Flood Insurance Rate Map (FIRM) is “important for communicating flood hazards and risks to communities and individuals; informing the implementation of local floodplain management regulations and building standards; and providing critical information for disaster response planning, recovery, and rebuilding decisions. FIRMs support a community’s ability to make informed decisions about where to plan and allow development.”  </p>
          </div>
          <div class = "col placeholder-img">
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card> -->

<!-- <p>
  <button type="button" class="btn btn-outline-primary" (click)="isCollapsed1 = !isCollapsed1; isCollapsed2 = true; isCollapsed3 = true" [attr.aria-expanded]="!isCollapsed1"
    aria-controls="collapseExample1">
    Toggle
  </button>
  <button type="button" class="btn btn-outline-primary" (click)="isCollapsed2 = !isCollapsed2; isCollapsed3 = true; isCollapsed1 = true;" [attr.aria-expanded]="!isCollapsed2"
    aria-controls="collapseExample2">
    Toggle
  </button>
  <button type="button" class="btn btn-outline-primary" (click)="isCollapsed3 = !isCollapsed3; isCollapsed2 = true; isCollapsed1 = true;" [attr.aria-expanded]="!isCollapsed3"
    aria-controls="collapseExample3">
    Toggle
  </button>
</p>
<div id="collapseExample1" [ngbCollapse]="isCollapsed1">
  <div class="card">
    <div class="card-body">
1    </div>
  </div>
</div> -->
<!-- <div id="collapseExample2" [ngbCollapse]="isCollapsed2">
  <div class="card">
    <div class="card-body">
2    </div>
  </div>
</div>
<div id="collapseExample3" [ngbCollapse]="isCollapsed3">
  <div class="card">
    <div class="card-body">
3    </div>
  </div>
</div> -->