<p>
  This property, at ________________, has been identified as one which is at HIGH risk for flooding. It is suggested that you
  take action to mitigate this risk during your construction project. The risk area includes _______ acre(s) on the north/east/south/west
  side of your property identified in the above map.
</p>
<p>
  The Federal Emergency Management Agency (FEMA) "identifies flood hazards, assesses flood risks, and provides accurate data
  to guide stakeholders in taking effective mitigation actions that result in safer and more resilient communities."
</p>
<p>
  A Flood Insurance Rate Map (FIRM) is “important for communicating flood hazards and risks to communities and individuals;
  informing the implementation of local floodplain management regulations and building standards; and providing critical
  information for disaster response planning, recovery, and rebuilding decisions. FIRMs support a community’s ability to
  make informed decisions about where to plan and allow development.”
</p>
<p>
  <b>Need More Information?</b>
  For additional information about flood maps and the National Flood Insurance Program, please visit:
  <a href="https://www.fema.gov/flood-mapping-products">FEMA Mapping Product</a>FEMA Mapping Product or call 1-800-427-4661. 
</p>