<div class="hero">
  <div class="websiteTitle newContainer">
    <h1> Call before you build </h1>
  </div>
  <div class="address-entry newContainer">
    <app-address-form></app-address-form>
  </div>
  <div class="image newContainer" style="margin-top: -100px; margin-left: 500px; overflow: hidden">
  </div>
</div>

<section class="blank">
  <br>
  <h1 style="text-align: center">Explore Our Metrics</h1>
  <br>
  <div class="newContainer">
    <app-collapse></app-collapse>
  </div>
  <br>
  <br>
  <br>
</section>