<div class="page">
  <div class = "card">
    <div class="map">
      <app-map></app-map>
    </div>
    <div class="head">
      <a routerLink="/full">
        <- Back to Full Report</a>
          <a id="sub">Planning and Zoning</a>
    </div>
    <div class="title">
      <div class="logo"></div>
      <div class="titletext">
        Planning and Zoning </div>
    </div>
    <div class="quick"></div>
    <hr/>
    <div class="textcontainer">
      <div class="text1">
        <P>The surveyed land at ____________ contains ____ acre(s).</P>
        <p>Your property boundaries are identified by the dotted line on the above map. There are no easements on your property. (can
          we say this? – EDR has SOME of this data)</p>
        <p>Ensure that you remain inside your property boundaries during construction to avoid boarder disputes, encroachments, trespassing,
          and lawsuits. Depending on your jurisdictions zoning laws there are different rules for how far a structure must be from
          your own property line for it to be legal. </p>
        <p>An abutter is a property which your property boarders, meaning that you share a common boundary on one or more sides of
          your property. Abutters identified below and on the map. </p>
        <p>A setback is the minimum distance which a building should be set back from the property line or special zone. Setbacks
          vary by zoning district and type of structure. Please identify your zoning district (found below) to fully understand
          your setback requirements and reductions/exceptions.
          <p>
            <b>Parcel ID:</b> 6372 </p>
          <p>
            <b>Address:</b> 12 Main Street Shelton, CT 12345 </p>
      
          <p>
            <b>Setback Requirement:</b>
          </p>
          <p>
            <b>Front:</b> 20 feet </p>
          <p>
            <b>Side:</b> 8 feet </p>
          <p>
            <b>Rear</b>: 20 feet </p>
          <p>
            <b>Need more information?</b> Check your deed, your plat, or hire a surveyor to resurvey your property.</p>

      </div>
      </div>
    </div>
</div>